body {
  background-color: #1A4E63;
  color:white;
  font-family: Helvetica;
  font-size: 20px;
}

header {
  text-align: center;
}

footer {
  width: 100%;
  min-height: 100px;
  position: fixed;
  bottom: 0;
  background-color: #EE715F;
}

.Form {
  text-align: center;
}

.submitButton {
  border-radius: 5px;
  font-size: 24px;
  background-color: #EE715F;
}

.textField {
  font-size: 24px;
}

/*.App-header {
  background-color: #1A4E63;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  font-size: calc(10px + 2vmin);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/